.header{
  display: flex;
  padding: 40px 0 64px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-input{
  position: relative;
}

.header input{
  background: var(--color-1);
  border: 2px solid transparent;
  padding: 10px 10px 10px 48px;
  border-radius: 12px;
  position: relative;
  outline: none;
  transition: 0.3s;
}

.header input:focus{
  border-color: var(--color-p1);
}

.header-input img{
  position: absolute;
  top: 15px;
  left: 12px;
}

.header-functions{
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-functions .functions{
  display: flex;
  gap: 32px;
  align-items: center;
  position: relative;
}

.functions button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 12px;
  position: relative;
}

.functions button::after{
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background: var(--color-5);
  border-radius: 12px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s;
}

.functions button:hover::after{
  transform: scaleX(1);
}

.function-cart button{
  display: flex;
  align-items: center;
  gap: 4px;
}

.functions-menu{
  border-radius: 12px;
  padding: 20px;
  display: none;
  flex-direction: column;
  position: absolute;
  right: -137px;
  top: 60px;
  background: var(--color-0);
  border: 2px solid var(--color-1);
}

.functions-menu button{
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile button{
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.profile button:hover .dot{
  transform: translateY(-4px);
  transition: 0.3s;
}

 .header-functions .functions.view{
  display: flex;
 }

 .functions-menu .separator{
  margin-bottom: 20px;
 }

 .functions-menu button:first-child{
  margin-bottom: 20px;
 }

 .functions-menu.view{
  display: flex;
  animation: fade-in .3s ease-in-out forwards;
 }

  @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px){
  .header{
    padding-bottom: 70px;
  }

  .profile img:first-child{
    width: 44x;
    height: 44px;
  }

  .header-input img{
    top: 9px;
  }

  .header-input{
    position: absolute;
    top: 100px;
    left: 0;
    margin-left: 20px;
  }

  .header input{
    padding-top: 6px;
    padding-bottom: 6px;
  }
}